<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Where's my Baby?</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">The UMass Baby Berk Food Truck Tracker.</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3">Where's my Baby?</h1>
    <p class="lead">The UMass Baby Berk Food Truck Tracker.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <app-twitter></app-twitter>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <app-map></app-map>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <div class="panel panel-default">
      <app-menu></app-menu>
      </div>
    </div>
  </div>
</div>
