.jumbotron {
    background-color: #FFEBEE;
    padding: 0.25em 0.3em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}
