
#all {
  background-color: #E0F7FA;
}


.jumbotron {
    background-color: #FFFFFF;
    padding: 0.25em 0.25em;
}

.jumbotron h1{
  font-family: 'Yellowtail';

}

.jumbotron p {

}

#btn{
  padding-bottom: 10px;
}

#btn .btn{
    background-color: #FFFBFE;
    textcolor: #000000;
}
